<ion-header>
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Id</ion-label>
      <ion-input>{{this.item[0].id}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">codigoSap</ion-label>
      <ion-input>{{this.item[0].codigoSap}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input>{{this.item[0].descripcion}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Id</ion-label>
      <ion-input>item</ion-input>
    </ion-item>

  </form>
</ion-content>
