<ion-header>
  <ion-toolbar>
    <ion-title>nuevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-footer class="pie">
    <div class="menudiv">
      <ion-button color="dark" expand="block" routerLink="/inicio"><ion-icon name="home"></ion-icon></ion-button>
      <ion-button color="dark" expand="block" routerLink="/lista"><ion-icon name="search"></ion-icon></ion-button>
      <ion-button color="dark" expand="block" routerLink="/sync"><ion-icon name="sync"></ion-icon></ion-button>
      <ion-button color="dark" expand="block" routerLink="/nuevo"><ion-icon name="add-circle"></ion-icon></ion-button>
      <ion-button color="dark" expand="block" routerLink="/home"><ion-icon name="qr-scanner"></ion-icon></ion-button>
    </div>
    </ion-footer>
</ion-content>
